li.list-inline-item img {
  margin: 5px;
}

.card {
  /* border : 1px solid black; */
  box-shadow: 0.5px 0.5px 1.0px 1.0px grey;
  padding: 25px;
  min-height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  /* cursor: pointer; */
}
.card-img-part {
  border-radius: 25px;
  box-shadow: 1px 1px 2.5px 2.5px lightgrey;
  height: 300px;
  width: 300px;
  padding : 5px;
}

.card img {
  /* border: 1px solid black; */
  border-radius: 20px;
  /* box-shadow: 1px 1px 1.5px 1.5px lightgrey; */
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}
a .card-text-part {
  color: rgb(108, 117, 125);
}
.card-text-part a {
  color: rgb(108, 117, 125);
}

.subheading.mb-3 {
  margin-top: 10px;
}

.anchor-list {
  display : flex;
  flex-direction: row;
}
.anchor-list a {
  margin-right : 10px;
  /* border : 1px solid lightgrey; */
  box-shadow: 1px 1px 1.5px 1.5px rgb(189, 93, 56);
  color : rgb(189, 93, 56);
  border-radius: 25px;
  padding-left : 10px;
  padding-right : 10px;
  padding-top: 5px;
  padding-bottom: 7px;
}


@media (max-width : 768px) {
  .card {
    display : flex;
    flex-direction: column-reverse;
  }
  .card-img-part {
    width : 300px;
    height : 150px;
    margin-bottom: 50px;
    width : 50%;
    margin-left: auto;
    margin-right: auto;
  }
  /* .card-img-part img {
    margin : auto;
    width : 80%;
  } */
  
}

.service-introduce {
  font-size: large;
}